#container-contact {
  display: flex;
  justify-content: center;
  padding: 50px;
  min-height: 100vh;
}

.contact-container {
  background-color: #222;
  color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px; /* Limit width */
  box-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500;
}

.contact-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.contact-container p {
  margin: 5px 0;
}

.contact-container .quote {
  font-style: italic;
  margin: 20px 0;
}

.location-status {
  margin: 20px 0;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
}

.footer {
  margin-top: 20px;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  #container-contact {
      padding: 20px;
  }

  .contact-container {
      width: 100%;
      margin: 0 auto;
  }

  .contact-container h1 {
      font-size: 2em;
  }

  .social-icons a {
      margin: 0 5px;
      font-size: 1.2em;
  }
}
