@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#container-experience {
    display: flex;
    justify-content: center; /* Center the contents */
    padding: 50px;
    min-height: 100vh;
}

.experience {
    color: white;
    width: 100%; /* Full width */
    max-width: 1200px; /* Max width for better centering */
    text-align: center; /* Center text */
}

.experience h2 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px; /* Space below heading */
}

.experience-cards {
    display: flex;
    justify-content: center; /* Center cards */
    gap: 20px; /* Space between cards */
}

.experience-card {
    border-radius: 16px;
    background-image: url("https://mms.businesswire.com/media/20240613395255/en/1230915/23/Fid_Logo_Color.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding: 30px;
    width: 1000px;
    border: 1px solid rgb(255, 165, 0, 0.27);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ffa500, 0 0 30px #ffa500;
}

.experience-card h3 {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: end;
}

.experience-card h4 {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: end;
}

.experience-card p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: end;
}

.experience-card ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.experience-card li {
    margin: 5px 0;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #container-experience {
        padding: 20px;
    }

    .experience h2 {
        font-size: 40px; /* Smaller font for smaller screens */
    }

    .experience-cards {
        flex-direction: column;
        align-items: center; /* Center cards on small screens */
    }

    .experience-card {
        width: 100%;
        max-width: none; /* Remove max-width on small screens */
        margin-bottom: 20px;
    }
}
