@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: "future";
    src: url("../public/canvaFuture.otf");
}

#container-proficiency {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: stretch; /* Ensure both sections stretch to match height */
}

.proficiency {
    color: white;
    width: 50%;
}

.proficiency h2 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

.proficiency-card {
    background-color: #2b2b2b; /* Dark background similar to skill bars */
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px #ffa500, 0 0 5px #ffa500;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.progress {
    background-color: #444; /* Dark background to highlight the glow */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.frontend, .backend, .programming {
    height: 20px;
    background-color: #ffa500; /* Background color for skill bar */
    color: #fff6a9; /* Text color if there's any text inside */
    box-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500, 0 0 40px #ffa500;
}

.frontend {
    width: 65%; /* Adjust as needed */
}

.backend {
    width: 90%; /* Adjust as needed */
}

.programming {
    width: 95%; /* Adjust as needed */
}

.model-viewer-proficiency {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in element's width and height */
}

.model-viewer-proficiency img {
    width: 100%;
    border-radius: 10px;
    height: 100%; /* Ensure image takes full height of container */
    object-fit: cover; /* Ensure image covers the entire area without distortion */
}
